:root {
	--color-blue : hsl(223, 87%, 63%);
	--color-blue-pale : hsl(223, 100%, 88%);
	--color-red-light : hsl(354, 100%, 66%);
	--color-gray : hsl(0, 0%, 59%);
	--color-blue-dark : hsl(209, 33%, 12%);
}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 2rem;
	box-sizing: border-box;
}

/* LAYOUT */
.container {
	max-width: 55rem;
	margin: 5rem auto;
	text-align: center;
}
/* COMPONENTS */
.h1 {
	font-size: 4rem;
	margin: 5rem 0 2rem 0;
}


.form {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.form > * {
	border-radius: 100px;
	outline: none;
	font-family: inherit;
	padding: 1.5rem;
}
.form__input {
	flex: 70%;
	border : .5px solid var(--color-blue-pale);
	margin-right: 2rem;
	padding-left: 2.5rem;
}
.form__button {
	flex: 30%;
	display: inline-block;
	background-color: var(--color-blue);
	border: none;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 4px 5px rgba(0,0,0,.25);
}

.illustration {
	margin: 5rem auto;
	max-width: 100%;
}
.illustration__img {
	width: 100%;
}

.attribution {
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}


/* UTILITIES */
.text-bold {
	font-weight: 700;
}
.text-medium {
	font-weight: 600;
}
.text-light {
	font-weight: 300;
}
.text-gray {
	color: var(--color-gray);
}
.text-dark {
	color: var(--color-blue-dark);
}
.text-small {
	font-size: 1.5rem;
}
.mb-md {
	margin-bottom: 3.5rem;
}

