:root {
	--color-blue : hsl(223, 87%, 63%);
	--color-blue-pale : hsl(223, 100%, 88%);
	--color-red-light : hsl(354, 100%, 66%);
	--color-gray : hsl(0, 0%, 59%);
	--color-blue-dark : hsl(209, 33%, 12%);
}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 2rem;
	box-sizing: border-box;
}

/* LAYOUT */
.container {
	max-width: 55rem;
	margin: 7.5rem auto;
	text-align: center;
}
/* COMPONENTS */
.h1 {
	font-size: 4rem;
	margin: 5rem 0 2rem 0;
}


.form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;

}
.form > * {
	border-radius: 100px;
	outline: none;
	font-family: inherit;
	padding: 1.75rem;

}
.form__input {
	flex: 70%;
	border : .5px solid var(--color-blue-pale);
	margin-right: 2rem;
	padding-left: 2.5rem;
	transition: all .2s;
}
.form__button {
	flex: 30%;
	display: inline-block;
	background-color: var(--color-blue);
	border: none;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 2px 5px var(--color-blue-pale);
	transition: all .1s;
}
.form__button:hover {
	box-shadow: 0 4px 7px var(--color-blue-pale);
}
.form__input-error {
	display: none;
	position: absolute;
	bottom: -4.5rem;
	left:0;
	color: var(--color-red-light);
	transition: all .3s;
}
.form__input:focus:invalid {
	border-color: var(--color-red-light);
}
.form__input:focus:invalid ~ .form__input-error {
	display: block;
}

.illustration {
	margin: 8rem auto 10rem auto;
	max-width: 100%;
}
.illustration__img {
	width: 100%;
}

.social-links {
	list-style: none;
	max-width: 17.5rem;
	margin: 3rem auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: var(--color-blue);
}

.social-links__item {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #fff;
	border: .2px solid rgba(0,0,0,.5);
	cursor: pointer;
	transition: all .3s;
}
.social-links__item:hover {
	color: #fff;
	background-color: var(--color-blue);
}

.attribution {
	text-align: center;
	font-size: 1.6rem;
	margin: 1rem 0;
}
.attribution a {
	color: var(--color-blue);
	letter-spacing: .8px;
}


/* UTILITIES */
.text-bold {
	font-weight: 700;
}
.text-medium {
	font-weight: 600;
}
.text-light {
	font-weight: 300;
}
.text-gray {
	color: var(--color-gray);
}
.text-dark {
	color: var(--color-blue-dark);
}
.text-small {
	font-size: 1.5rem;
}
.mb-md {
	margin-bottom: 3.5rem;
}


/* MEDIA QUERIES */
@media screen and (max-width : 37.5em){
	.container {
		padding : 0 2rem;
	}
}

@media screen and (max-width : 31.25em){
	.form {
		flex-direction: column;
	}
	.form > * {
		margin: .75rem 0;
		width: 100%;
	}
	.form__button {
		box-shadow: 0 5px 10px var(--color-blue-pale);
	}
	.h1 {
		font-size: 3.5rem;
	}
	.illustration {
		margin-bottom: 12.5rem;
	}
}
